body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center; 
}
header {
    height: 69px; 
    border-bottom: 1px solid seashell; 
    position: fixed; 
    align-items: center;
    width: 100%;
    background-color: black;
    z-index: 1; 
}
#container {
    display: flex;
    justify-content: center;

}
nav {
    text-align: right;
    flex-grow: 1
}
span {
    text-decoration: underline;
    display: inline-block;
    padding: 20px 10px;
}
a {
    color: seashell; 
}
.content {
    background-color: black;
    width: 100%;
    margin: auto;
}
#mission {
    background-image: url('/Users/haack79/Projects/Codecademy_Projects/TeaCozy/resources/media/img-mission-background.jpg');
    height: 700px;
    width: 1200px; 
    padding-top: 70px;
}
header img {
    height: 50px;
    padding-left: 10px; 
}
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.tea img {
    height: 200px;
    width: 300px; 
    padding-bottom: 10px;
}
.tea {
    align-self: space-around; 
}
#teaGroup {
    width: 1000px;
    justify-content: space-around;
}
#teas {
    padding-top: 65px;
    width: 1000px;
    height: 715px;
    margin: auto;
}
#teas h2, h4 {
    padding: 10px; 
    margin: 0px;
}
#locations {
    background-image: url('/Users/haack79/Projects/Codecademy_Projects/TeaCozy/resources/media/img-locations-background.jpg');
    height: 500px;
}
.locale {
    background-color: black;
    width: 300px; 
    margin: 15px 20px;
    opacity: 1;
}
#locationBoxes {
    margin-top: 15px;
    width: 1200px;
}
#contactInfo {
    height: 200px;
}
footer {
    text-align: left;
}